#tour-els {
    display: none;
}

.text-wrap {
    display: block;
    background-color: $white;
    width: 1240px;
    text-align: left;
    color: $black;
    padding: 2rem;
    margin: 1rem auto;
    max-width: calc(100% - 2rem);

    @media #{$mq-xs-min} {
        max-width: calc(100% - 4rem);
        padding: 3rem;
        margin: 2rem auto;
    }

    .title {
        display: block;
        margin-bottom: 1rem;

        @media #{$mq-xs-min} {
            margin-bottom: 3rem;
        }
    }

    .links {
        display: block;

        a,
        button {
            display: block;
            width: 100%;
            text-align: left;
            background-color: $almost-white;
            padding: 1rem 1.5rem;
            margin-bottom: 5px;
            color: $black;

            @media #{$mq-sm-min} {
                margin-bottom: 15px;
            }

            &:before {
                background-color: $yellow;
            }

            &:hover,
            &:focus {
                color: $black;
            }
        }
    }
}

#iframe {
    display: block;
    width: 100%;
    height: auto;
    background-color: transparent;
    position: relative;

    .details {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
        background-color: $black;
        display: inline-block;
        color: $white;
        padding: .5rem .75rem;
    }

    .pano-viewer {
        position: relative;
        z-index: 1;
        display: block;
        width: 100%;
        height: 100vh;
        margin: 0;
        background-color: transparent;
        overflow: hidden;
    }

    .hidden-els {
        display: none;
    }
}

.fancybox-slide--iframe {
    padding: 0;

    .fancybox-content {
        height: inherit!important;
    }
}