.form-line {
    display: block;
    width: 100%;
    position: relative;
    margin-bottom: 2rem;

    @media #{$mq-lg-min} {
        margin-bottom: 3rem;
    }

    &.error {
        label.label {
            color: $red;
        }

        .input {
            border-color: $red;
            color: $red;
        }

        label.error {
            position: absolute;
            z-index: 2;
            bottom: -.35rem;
            right: .75rem;
            display: inline-block;
            line-height: 1;
            padding: 0 .5rem;
            background-color: $white;
            color: $red;
            font-size: 12px;

            @media #{$mq-md-min} {
                bottom: -.4rem;
                font-size: 14px;
            }
        }
    }

    label.label {
        position: absolute;
        z-index: 2;
        top: -.5rem;
        cursor: pointer;
        left: 1rem;
        display: inline-block;
        background-color: $white;
        color: $black;
        line-height: 1;
        padding: 0 .5rem;

        @media #{$mq-xl-min} {
            top: -.6rem;
        }
    }

    input {
        display: none;
    }
    
    .input {
        display: block;
        position: relative;
        z-index: 1;
        width: 100%;
        background-color: transparent;
        border: 1px solid $gray-lightest;
        border-radius: 0;
        color: $black;
        padding: 1.25rem 1.5rem;

        &.textarea {
            resize: vertical;
            min-height: 10rem;
            height: 10rem;
        }
    }

    .form-checkbox {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 1rem;

        input {
            display: none;

            &:checked + .checkbox {
                color: $black;
                background-color: $yellow;
                border-color: $yellow;
            }
        }

        .checkbox {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2rem;
            height: 2rem;
            min-width: 2rem;
            min-height: 2rem;
            border: 1px solid $gray-lighter;
            color: transparent;
            padding: .5rem;
            cursor: pointer;
        }

        .text-medium-small {
            cursor: pointer;
            line-height: 1.2;
        }
    }
}