#footer {
    padding-top: 3rem;

    @media #{$mq-sm-min} {
        padding-top: 4rem;
    }

    @media #{$mq-md-min} {
        padding-top: 5rem;
    }

    .top {
        position: relative;

        .col-12 {
            @media #{$mq-xl-min} {
                display: flex;
                align-items: center;
                justify-content: space-between;
                column-gap: 1rem;
            }

            .logo {
                display: block;
                width: 20rem;
                margin: 0 auto;
                transition: .3s;
                max-width: 90%;

                @media #{$mq-lg-min} {
                    width: 25rem;
                }

                @media #{$mq-xl-min} {
                    margin: 0;
                    width: 22vw;
                }

                @media #{$mq-2xl-min} {
                    width: 25rem;
                }

                &:hover,
                &:focus {
                    opacity: .7;
                }

                svg {
                    width: 100%;
                    height: auto;
                }
            }

            .right {
                text-align: center;

                @media #{$mq-xl-min} {
                    text-align: right;
                    display: flex;
                    align-items: center;
                    column-gap: 1.5rem;
                    justify-content: flex-end;
                }

                @media #{$mq-2xl-min} {
                    column-gap: 3rem;
                }

                .menu {
                    margin: 1.5rem auto 2rem auto;

                    @media #{$mq-md-min} {
                        margin: 3rem auto;
                    }

                    @media #{$mq-xl-min} {
                        margin: 0;
                    }

                    ul {
                        @media #{$mq-md-min} {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            column-gap: 1.5rem;
                        }

                        @media #{$mq-lg-min} {
                            column-gap: 2rem;
                        }

                        @media #{$mq-xl-min} {
                            column-gap: 1rem;
                            justify-content: flex-end;
                        }

                        @media #{$mq-2xl-min} {
                            column-gap: 3rem;
                        }

                        li {
                            display: block;
                            margin: .5rem auto;

                            @media #{$mq-md-min} {
                                margin: 0;
                            }

                            a {
                                position: relative;

                                &:before {
                                    content: "";
                                    position: absolute;
                                    bottom: -.25rem;
                                    left: 0;
                                    width: 100%;
                                    height: 3px;
                                    background-color: $yellow;
                                    display: block;
                                    transform: scaleX(0);
                                    transition: .3s;
                                    transform-origin: 0 0;
                                }
        
                                &.active,
                                &:hover,
                                &:focus {
                                    &:before {
                                        transform: scaleX(1);
                                    }
                                }
                            }
                        }
                    }
                }

                .social {
                    ul {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        column-gap: 1rem;

                        @media #{$mq-xl-min} {
                            justify-content: flex-end;
                        }

                        a {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: .65rem;
                            width: 2.25rem;
                            height: 2.25rem;
                            color: $white;
                            background-color: $gray-dark;
                            border-radius: 50%;
                            transition: .3s;

                            &:hover,
                            &:focus {
                                background-color: $yellow;
                                color: $black;
                            }
                        }
                    }
                }
            }
        }
    }

    .bottom {
        position: relative;
        padding-top: 2.5rem;
        padding-bottom: 1.5rem;
        margin-top: 2.5rem;

        @media #{$mq-sm-min} {
            margin-top: 0;
            padding-top: 5rem;
        }

        .bg {
            position: absolute;
            z-index: 0;
            bottom: -.5rem;
            left: 0;
            width: 100%;
            height: 100%;
            color: $yellow;
            background-color: $yellow;

            @media #{$mq-sm-min} {
                background-color: transparent;
            }

            svg {
                display: none;

                @media #{$mq-sm-min} {
                    display: block;
                    width: 100%;
                    height: 100%;
                    max-height: none;
                    max-width: none;
                    min-width: 100%;
                    min-height: 100%;
                    object-fit: cover;
                }
            }
        }

        .container {
            position: relative;
            z-index: 2;

            .col-12 {
                @media #{$mq-md-min} {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                .copyright {
                    display: block;
                    margin: 0 auto;
                    text-align: center;

                    @media #{$mq-md-min} {
                        text-align: left;
                        margin: 0;
                    }
                }

                .links {
                    margin-top: 1.5rem;

                    @media #{$mq-md-min} {
                        margin-top: 0;
                    }

                    ul {
                        text-align: center;

                        @media #{$mq-sm-min} {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            column-gap: 1.5rem;
                        }

                        @media #{$mq-md-min} {
                            justify-content: flex-end;
                        }
                        
                        @media #{$mq-lg-min} {
                            column-gap: 3rem;
                        }

                        li {
                            display: block;
                            margin: .5rem auto;

                            @media #{$mq-sm-min} {
                                margin: 0;
                            }

                            a {
                                position: relative;

                                &:before {
                                    content: "";
                                    position: absolute;
                                    bottom: -.25rem;
                                    left: 0;
                                    width: 100%;
                                    height: 1px;
                                    background-color: $gray-lightest;
                                    display: block;
                                    transform: scaleX(0);
                                    transition: .3s;
                                    transform-origin: 0 0;
                                }
        
                                &.active,
                                &:hover,
                                &:focus {
                                    &:before {
                                        transform: scaleX(1);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}