#top-menu {
    position: relative;
    z-index: 0;

    .bg {
        position: absolute;
        top: 0;
        right: 0;
        width: 55%;
        background-color: $yellow;
        overflow: hidden;

        @media #{$mq-md-min} {
            width: 60%;
        }

        @media #{$mq-xl-min} {
            width: 75%;
        }

        @media #{$mq-2xl-min} {
            width: 70%;
        }

        &:before {
            content: "";
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-color: $white transparent transparent transparent;
        }
    }

    .container {
        position: relative;
        z-index: 2;

        .col-12 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 1rem;
            padding-bottom: 1rem;

            @media #{$mq-sm-min} {
                padding-top: 1.5rem;
                padding-bottom: 1.5rem;
            }

            @media #{$mq-md-min} {
                padding-top: 2rem;
                padding-bottom: 2rem;
            }

            .logo {
                transition: .3s;

                &:hover,
                &:focus {
                    opacity: .7;
                }

                svg {
                    width: 15rem;
                    height: auto;

                    @media #{$mq-sm-min} {
                        width: 18rem;
                    }

                    @media #{$mq-2xl-min} {
                        width: 25rem;
                    }
                }
            }

            .menu {
                display: none;

                @media #{$mq-xl-min} {
                    display: block;
                }

                ul {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    column-gap: 1.5rem;

                    @media #{$mq-2xl-min} {
                        column-gap: 3rem;
                    }

                    a {
                        position: relative;

                        &:before {
                            content: "";
                            position: absolute;
                            bottom: -.25rem;
                            left: 0;
                            width: 100%;
                            height: 3px;
                            background-color: $white;
                            display: block;
                            transform: scaleX(0);
                            transition: .3s;
                            transform-origin: 0 0;
                        }

                        &.active,
                        &:hover,
                        &:focus {
                            &:before {
                                transform: scaleX(1);
                            }
                        }
                    }
                }
            }

            #open-fs {
                display: inline-block;
                width: 2.75rem;
                height: 2.75rem;
                padding: .75rem;
                transition: .3s;

                @media #{$mq-sm-min} {
                    width: 3rem;
                    height: 3rem;
                }

                @media #{$mq-xl-min} {
                    display: none;
                }

                &:hover,
                &:focus {
                    opacity: .7;
                }
            }
        }
    }
}

body.home {
    #top-menu {
        .bg {
            height: 0;
            padding-bottom: 62%;

            @media #{$mq-sm-min} {
                padding-bottom: 60%;
            }
            
            @media #{$mq-md-min} {
                padding-bottom: 55%;
            }

            @media #{$mq-lg-min} {
                padding-bottom: 53%;
            }

            @media #{$mq-xl-min} {
                padding-bottom: 50%;
            }

            @media #{$mq-2xl-min} {
                padding-bottom: 48%;
            }

            &:before {
                border-width: 500px 100px 0 0;
        
                @media #{$mq-md-min} {
                    border-width: 1000px 150px 0 0;
                }
            }
        }
    }
}