body.tour {
	#middle {
        padding: 0 0 3rem 0;

        @media #{$mq-sm-min} {
            padding-bottom: 4rem;
        }

        @media #{$mq-md-min} {
            padding: 4rem 0 6rem 0;
        }

        @media #{$mq-lg-min} {
            padding-bottom: 8rem;
        }

        @media #{$mq-xl-min} {
            padding: 5rem 0 10rem 0;
        }

        .desc {
            display: block;
        }

        .tour {
            display: block;
            background-color: $white;
            border: 1px solid $black;
            position: relative;
            overflow: hidden;
            height: 85vh;
            margin: 2rem 0;
            cursor: move;

            @media #{$mq-sm-min} {
                margin: 3rem 0;
            }

            .plus,
            .minus {
                position: absolute;
                z-index: 4;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $black;
                color: $white;
                font-weight: $bold;
                width: 3rem;
                height: 3rem;
                bottom: 0;
                cursor: pointer;
                text-align: center;
                transition: .3s;

                &:hover {
                    background-color: $gray-dark;
                }
            }

            .minus {
                right: 0;
            }

            .plus {
                right: 3rem;
            }

            #panzoom {
                padding: .25rem .25rem 0 .25rem;
            }

            .map {
                height: 100%;
            }

            .pin {
                position: absolute;
                z-index: 3;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                width: 1rem;
                height: 1rem;
                border-radius: 50%;
                background-color: $black;
                color: $white;
                font-size: .4rem;
                line-height: 1;

                @media #{$mq-sm-min} {
                    width: 2rem;
                    height: 2rem;
                    font-size: 1rem;
                }

                @media #{$mq-md-min} {
                    width: 3rem;
                    height: 3rem;
                }

                &.pin-01 {
                    top: 33%;
                    left: 13.5%;

                    @media #{$mq-sm-min} {
                        top: 34%;    
                    }
                }

                &.pin-02 {
                    top: 73%;
                    left: 43.5%;

                    @media #{$mq-sm-min} {
                        top: 75.3%;    
                    }
                }

                &.pin-03 {
                    top: 41%;
                    left: 64.3%;

                    @media #{$mq-sm-min} {
                        top: 43%;
                        left: 65.5%;
                    }
                }

                &.pin-04 {
                    top: 23%;
                    left: 69%;

                    @media #{$mq-sm-min} {
                        top: 23.5%;
                        left: 70%;
                    }
                }

                .circle {
                    position: absolute;
                    display: block;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;

                    &:before,
                    &:after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        display: block;
                        box-shadow: inset 0 0 0 .25px $black;
                        border-radius: 50%;

                        @media #{$mq-sm-min} {
                            box-shadow: inset 0 0 0 1px $black;
                        }
                    }

                    &:before {
                        width: 120%;
                        height: 120%;
                        animation: pulse 1s alternate infinite;
                    }

                    &:after {
                        width: 140%;
                        height: 140%;
                        animation: pulse .9s alternate infinite;
                    }
                }
            }

            .line {
                position: absolute;
                z-index: 2;
                width: calc(100% - 44.5%);
                top: 25.5%;
                left: 16%;
                height: auto;

                @media #{$mq-sm-min} {
                    top: 24.9%;
                    left: 15.3%;
                    width: calc(100% - 43.5%);
                }

                polyline {
                    stroke-dasharray: 100;
                    animation: dash 5s linear forwards infinite;
                    fill: none;
                    stroke-width: .3rem;
                    stroke: $gray-dark;
                    stroke-miterlimit: 10;

                    @media #{$mq-md-min} {
                        stroke-width: .45rem;
                    }
                }
            }
        }

        .infos {
            a {
                display: block;
                background-color: $almost-white;
                padding: 1rem 1.5rem;
                margin-bottom: 5px;
                color: $black;

                @media #{$mq-sm-min} {
                    margin-bottom: 15px;
                }

                &:before {
                    background-color: $yellow;
                }
            }
        }
    }
}