body.tour {
	#middle {
        padding: 0 0 3rem 0;
        text-align: center;

        @media #{$mq-sm-min} {
            padding: 0 0 4rem 0;
        }

        @media #{$mq-md-min} {
            padding: 6rem 0;
        }

        @media #{$mq-lg-min} {
            padding: 8rem 0;
        }

        @media #{$mq-xl-min} {
            padding: 10rem 0;
        }

        .desc {
            display: block;
            margin: 3rem auto 2rem auto;

            @media #{$mq-sm-min} {
                margin: 4rem auto 3rem auto;
            }

            @media #{$mq-md-min} {
                margin: 5rem auto 4rem auto;
            }

            br {
                display: none;

                @media #{$mq-sm-min} {
                    display: block;
                }
            }
        }
    }
}