body.caio-f {
	#caio {
        padding: 0 0 3rem 0;

        @media #{$mq-sm-min} {
            padding: 0 0 4rem 0;
        }

        @media #{$mq-md-min} {
            padding: 0 0 6rem 0;
        }

        @media #{$mq-lg-min} {
            padding: 8rem 0;
        }

        @media #{$mq-xl-min} {
            padding: 10rem 0;
        }

        .left {
            position: relative;
            z-index: 1;

            .image {
                position: relative;
                z-index: 2;
                width: 100%;
                height: 0;
                padding-bottom: 120%;

                @media #{$mq-lg-min} {
                    width: 90%;
                    height: 100%;
                }

                .yellow-circle {
                    position: absolute;
                    z-index: 3;
                    top: 10%;
                    right: -1.5rem;
                    width: 4rem;
                    height: 4rem;
                    padding: .5rem;
                    background-color: $yellow;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    @media #{$mq-md-min} {
                        right: -2.5rem;
                        width: 5rem;
                        height: 5rem;
                    }

                    @media #{$mq-lg-min} {
                        top: 20%;
                        right: -3rem;
                        width: 6rem;
                        height: 6rem;
                        padding: .75rem;
                    }

                    @media #{$mq-xl-min} {
                        right: -4rem;
                        width: 8rem;
                        height: 8rem;
                        padding: 1rem;
                    }

                    svg {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }

                .copyrights {
                    position: absolute;
                    z-index: 2;
                    bottom: 1rem;
                    right: 0;
                    display: inline-block;
                    background-color: $white;
                    line-height: 1;
                    padding: .75rem 1rem;
                    color: $black;
                }

                img {
                    position: absolute;
                    z-index: 0;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .black-trapeze {
                position: absolute;
                z-index: 1;
                right: -1rem;
                bottom: -3rem;
                width: 70%;
                height: 70%;
                background-color: $black;
                transform: skewX(4deg);
                display: none;

                @media #{$mq-md-min} {
                    display: block;
                }

                @media #{$mq-lg-min} {
                    right: 3rem;
                }
            }
        }

        .right {
            position: relative;
            z-index: 2;
            padding-top: 2rem;

            @media #{$mq-lg-min} {
                padding-top: 0;
            }

            .title {
                font-weight: $bold;
            }

            .desc {
                display: block;
                margin-top: 2rem;
            }
        }
    }

    #merchan {
        position: relative;
        z-index: 0;

        .bg {
            position: absolute;
            z-index: 0;
            bottom: 0;
            left: 0;
            width: 100vw;
            height: 100%;
            background-color: $black;
            transform: skewY(-2deg);
        }

        .container {
            position: relative;
            z-index: 2;
            color: $white;
            text-align: center;
            padding-top: 4rem;
            padding-bottom: 6rem;

            @media #{$mq-md-min} {
                padding-top: 5rem;
            }

            @media #{$mq-lg-min} {
                padding-top: 7rem;
                padding-bottom: 7rem;
            }

            .title {
                display: block;
                margin: 0 auto 1.5rem auto;

                @media #{$mq-md-min} {
                    margin-bottom: 2rem;
                }
            }

            .yellow-button {
                font-weight: $bold;
            }

            .link {
                display: inline-block;
                margin-top: 1.5rem;
                color: $white;
                font-weight: $bold;
                position: relative;

                @media #{$mq-md-min} {
                    margin-top: 2rem;
                }

                &:before {
                    content: "";
                    position: absolute;
                    bottom: -.25rem;
                    left: 0;
                    width: 100%;
                    height: 3px;
                    background-color: $white;
                    display: block;
                    transform: scaleX(0);
                    transition: .3s;
                    transform-origin: 0 0;
                }

                &:hover,
                &:focus {
                    &:before {
                        transform: scaleX(1);
                    }
                }
            }
        }
    }

    #timeline {
        position: relative;
        z-index: 2;
        background-color: $white;
        margin-top: -2.5rem;
        padding: 3rem 0;

        @media #{$mq-sm-min} {
            padding: 4rem 0;
        }

        @media #{$mq-md-min} {
            padding: 6rem 0;
            text-align: center;
        }

        @media #{$mq-lg-min} {
            padding: 8rem 0;
        }

        .main-title {
            display: inline-block;
            margin-bottom: 4rem;

            @media #{$mq-md-min} {
                margin-bottom: 5rem;
            }

            @media #{$mq-lg-min} {
                margin-bottom: 6rem;
            }

            @media #{$mq-xl-min} {
                margin-bottom: 7rem;
            }
        }

        .timeline {
            position: relative;
            display: block;
            text-align: left;

            &.gradient {
                &:before {
                    content: "";
                    position: absolute;
                    z-index: 7;
                    bottom: 0;
                    left: -50vw;
                    width: 200vw;
                    height: 20%;
                    background: rgb(255,255,255);
                    background: -moz-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
                    background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
                    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
                    pointer-events: none;
                }
            }

            &.hidden {
                display: none;
            }

            .left {
                position: relative;
                z-index: 2;
                display: flex;
                align-items: center;
                justify-content: flex-start;

                @media #{$mq-xl-min} {
                    padding-left: 5rem;
                }

                @media #{$mq-2xl-min} {
                    padding-left: 10rem;
                }

                .trapeze-title {

                }

                .subtitle {
                    position: relative;
                    z-index: 2;
                    display: block;
                    margin-top: 1rem;
                    margin-bottom: 2rem;

                    @media #{$mq-sm-min} {
                        margin-bottom: 3rem;
                    }

                    @media #{$mq-md-min} {
                        margin-top: 2rem;
                        margin-bottom: 0;
                    }

                    br {
                        display: none;

                        @media #{$mq-md-min} {
                            display: block;
                        }
                    }
                }

                .line {
                    position: absolute;
                    top: 0;
                    right: 2.5rem;
                    width: 1px;
                    border-radius: 5px;
                    height: 100%;
                    background-color: $black;
                    display: none;

                    @media #{$mq-md-min} {
                        display: block;
                    }

                    @media #{$mq-lg-min} {
                        right: 5rem;
                    }

                    .circle {
                        position: absolute;
                        width: 1rem;
                        height: 1rem;
                        border-radius: 50%;
                        background-color: $black;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }

            .right {
                padding-bottom: 2rem;

                @media #{$mq-sm-min} {
                    padding-bottom: 3rem;
                }

                @media #{$mq-md-min} {
                    padding-bottom: 4rem;
                }

                p {
                    display: block;
                    margin-bottom: 1rem;
                }
            }
        }

        #show-more {
            position: relative;
            z-index: 7;
            margin: -2rem auto 2rem auto;
        }
    }

    #gallery {
        position: relative;
        z-index: 3;
        
        @media #{$mq-sm-min} {
            overflow: hidden;
        }
    
        .bg {
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100%;
            background-color: $black;
            transform: skewY(3deg);
    
            @media #{$mq-sm-min} {
                height: 100%;
                left: -25vw;
                width: 120vw;
                transform: skewX(10deg);
            }
    
            @media #{$mq-lg-min} {
                left: -35vw;
                width: 110vw;
                transform: skewX(20deg);
            }
        }
    
        .container {
            position: relative;
            z-index: 2;
            padding-top: 2rem;
            padding-bottom: 2rem;
    
            @media #{$mq-sm-min} {
                padding-top: 3rem;
                padding-bottom: 3rem;
            }
    
            .top {
                @media #{$mq-lg-min} {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
    
                .left {
                    text-align: center;
    
                    @media #{$mq-lg-min} {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        min-width: 70%;
                        text-align: left;
                    }
    
                    .trapeze-title {
                        display: block;
                        color: $white;
        
                        span {
                            color: $black;
                        }
                    }
    
                    .text-medium {
                        display: inline-block;
                        margin: 1.5rem auto 2rem auto;
                        color: $white;
    
                        @media #{$mq-md-min} {
                            margin-bottom: 3rem;
                        }
    
                        @media #{$mq-lg-min} {
                            margin: 3rem 0 0 0;
                        }
                    }
                }
    
                .right {
                    @media #{$mq-lg-min} {
                        min-width: 30%;
                    }
    
                    .gallery-slider-nav {
                        display: flex;
                        align-items: center;
                        justify-content: center;
    
                        @media #{$mq-lg-min} {
                            justify-content: flex-end;
                        }
    
                        button {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 3rem;
                            height: 3rem;
                            margin-left: .25rem;
                            margin-right: .25rem;
                            padding: 1rem;
                            border-radius: 50%;
                            background-color: transparent;
                            box-shadow: inset 0 0 0 1px $white;
                            color: $white;
                            transition: .3s;
    
                            @media #{$mq-sm-min} {
                                width: 4rem;
                                height: 4rem;
                                margin-left: .5rem;
                                margin-right: .5rem;
                                padding: 1.35rem;
                            }
    
                            @media #{$mq-lg-min} {
                                margin-left: 1rem;
                                margin-right: 0;
                                width: 5rem;
                                height: 5rem;
                                padding: 1.75rem;
                                background-color: $almost-white;
                                color: $black;
                                box-shadow: none;
                            }
    
                            &:hover,
                            &:focus {
                                background-color: $yellow;
                                box-shadow: inset 0 0 0 1px $yellow;
                                color: $black;
    
                                @media #{$mq-lg-min} {
                                    box-shadow: none;
                                }
                            }
                        }
                    }
                }
            }
    
            .bottom {
                .gallery-slider {
                    width: 100vw;
                    margin-top: 2rem;
    
                    @media #{$mq-sm-min} {
                        margin-top: 3rem;
                    }
    
                    @media #{$mq-lg-min} {
                        margin-top: 4rem;
                    }

                    .gallery-block {
                        position: relative;
                        z-index: 2;
                        display: block;
                        color: $black;
                        transition: .3s;
                        box-shadow: 0 .1rem .75rem 0 rgba(0,0,0,.1);
                    
                        @media #{$mq-sm-min} {
                            box-shadow: 0 .25rem 1rem 0 rgba(0,0,0,.2);
                        }
                    
                        &:hover,
                        &:focus {
                            transform: translateY(-.25rem);
                            box-shadow: 0 1rem 1.5rem 0 rgba(0,0,0,.1);
                    
                            @media #{$mq-sm-min} {
                                transform: translateY(-.75rem);
                            }

                            .thumbnail {
                                img {
                                    filter: saturate(1);
                                }
                            }
                        }
                    
                        .photo-rights {
                            position: absolute;
                            z-index: 2;
                            top: 1rem;
                            right: 0;
                            display: inline-block;
                            background-color: $white;
                            padding: .75rem 1rem;
                            line-height: 1;
                        }
                
                        .thumbnail {
                            position: relative;
                            overflow: hidden;
                            z-index: 0;
                            width: 100%;
                            height: 0;
                            padding-bottom: 60%;
                            background-color: $gray-darker;
                
                            img {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                filter: saturate(0);
                                transition: .3s;
                            }
                        }
                    }
                }
            }

            .desc {
                color: $white;
                display: block;
                width: 100%;
                padding-top: 2rem;
                text-align: center;

                @media #{$mq-sm-min} {
                    padding-top: 3rem;
                }

                @media #{$mq-lg-min} {
                    width: 80%;
                    text-align: left;
                }

                a {
                    color: $yellow;
                }
            }
        }
    }

    #links {
        text-align: center;
        padding: 3rem 0;

        @media #{$mq-sm-min} {
            padding: 4rem 0;
        }

        @media #{$mq-md-min} {
            padding: 6rem 0;
        }

        @media #{$mq-lg-min} {
            padding: 8rem 0;
        }

        @media #{$mq-xl-min} {
            padding: 10rem 0;
        }

        .grid {
            margin-top: 3rem;

            @media #{$mq-sm-min} {
                margin-top: 5rem;
                display: grid;
                gap: 1rem;
                grid-template-columns: 50% 50%;
                grid-template-rows: 17rem 17rem 17rem;
            }

            @media #{$mq-lg-min} {
                grid-template-columns: 33.333% 33.333% 33.333%;
                grid-template-rows: 20rem 20rem;
            }

            a {
                position: relative;
                overflow: hidden;
                display: block;
                width: 100%;
                height: 0;
                padding: 2rem 2rem 60% 2rem;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                margin: .5rem 0;
                text-align: center;
                color: $white;
                font-weight: $bold;

                @media #{$mq-sm-min} {
                    padding: 2rem;
                    margin: 0;
                    height: auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &:hover,
                &:focus {
                    &:before {
                        opacity: .3;
                    }

                    p {
                        color: $yellow;
                    }
                }

                &:before {
                    content: "";
                    position: absolute;
                    z-index: 0;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: $black;
                    opacity: .1;
                    transition: .3s;
                }

                p {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 2;
                    line-height: 1.2;
                    transition: .3s;

                    @media #{$mq-sm-min} {
                        position: relative;
                        top: auto;
                        left: auto;
                        transform: none;
                    }
                }
            }
        }
    }
}